body{
    background-color :rgb(31, 14, 61);
    background-image: url(kagura.png);
    background-repeat:no-repeat;
    background-position : center;
    width: 100%;
    height: 100%;
    background-size: 145%;
    
}
form{
    color: darkgreen;
    text-align: center;
}
h2{
    text-align: center;
    font-family: Helvetica;    /* CONTOH FONT STYLING */
    color: orange;
    font-size: 35px;
    line-height: 2px;
    font-variant: normal;
    font-weight: bolder;          /*--------------------*/
}
input{
    color: slateblue;
}
label{
    font-family: serif;
    font-style: italic;
    color: orange;
}
.outline {
    font-family:sans-serif;
    color: orange;
    font-weight: bolder;
    -webkit-text-stroke: 0.03em #000;
 }